.Rectangle-2331 {
    width: 1366px;
    height: 80px;
    margin: 0 0 37px;
    padding: 15px 101px 13px 102px;
    background-color: #ce0505;
}
  

  .ZOMATO{
    width: 32px;
    height: 47px;
    font-family: Poppins;
    font-size: 33px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.52;
    letter-spacing: normal;
    text-align: left;
    color: #e02929;
  }

  .Ellipse-2 {
    width: 52px;
    height: 52px;
    margin: 0 861px 0 0;
    padding: 1px 10px 4px;
    background-color: #fff;
  }

  .Web-1920-6 {
    width: 1366px;
    height: 973px;
    padding: 0 0 88px;
    background-color: #fbfbfb;
  }

  .Rectangle-16 {
    width: 1366px;
    height: 80px;
    margin: 0 0 37px;
    padding: 15px 101px 13px 102px;
    background-color: #ce0505;
  }

   .WelcomeToOurFoodDelivery{
    width: 512px;
    height: 51px;
    margin: 37px 25px 27px 113px;
    font-family: Poppins;
    font-size: 36px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.53;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
  }

  
  .Ellipse-2 {
    width: 52px;
    height: 52px;
    margin: 0 861px 0 0;
    padding: 1px 10px 4px;
    background-color: #fff;
  }