.Rectangle-2331 {
  width: 1366px;
  height: 80px;
  margin: 0 0 37px;
  padding: 15px 101px 13px 102px;
  background-color: #ce0505;
}
 .ZOMATO{
    width: 32px;
    height: 47px;
    font-family: Poppins;
    font-size: 33px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.52;
    letter-spacing: normal;
    text-align: left;
    color: #e02929;
   }
   .login{
     width: 43px;
     height: 23px;
     margin: 12 26 11 0px;
     font-size: 16;
     font-family: poppine;
     font-weight: 500;
     font-stretch: normal;
     font-style: normal;
     line-height: 1.56;
     letter-spacing: normal;
     text-align: left;
     color: #fff;
   }
   .create-an-account{
    width: 152px;
    height: 23px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    text-align: left;
    color: #fff; 
   }

  