.container{
    margin: 3%;
    padding: 6%;
    
}

.col-md-5{
    margin: 10px 10px 10px 10px !important;
    float: right;
}

.btn-primary{
    float: right;
}

.input-group-text{
    height: 100%;
}